@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --color-bg:#06060d;
  --color-black:#000000;
  --text-color:#ffffff;
  --container-lg:90%;
  --container-md:95%;
  --container-sm:98%;
  --transition:0.5s ease-in;
  --color-tertiary:#b202d1;
  --color-primary:#fe6500;
  --color-secondary:rgb(15, 224, 137);
  --color-secondary:#003398;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}

body {

  margin: 0;
 font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: var(--text-color);
}
.btn{
  padding:0.8rem 1.2rem;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  transition: var(--transition);
  border: none;
  font-size: 1.2rem;
}
.btn:hover{
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.container{
  width: var(--container-lg);
  margin: auto;
}
img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width:1024px) {
  .container{
    width: var(--container-md);
  }
}
@media screen and (max-width:768px) {
  .container{
    width: var(--container-md);
  }
}
@media screen and (max-width:600px) {
  .container{
    width: var(--container-sm);
  }
}